Repository thoroc/projen-typescript-git-hooks, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, githubAction, component, test

.github/labeler.yml:

# ~~ Generated by projen. To modify, edit .projenrc.ts and run "npx projen".

documentation:
  - "*.md"
githubAction:
  - .github/**
component:
  - src/components/**
test:
  - test/**/*.test.ts

refactor(tests): collocate straggler tests from test/ into src/
  src/components/githooks-manager/husky/component.test.ts
  src/components/githooks-manager/husky/hook-file.test.ts
  src/components/githooks-manager/husky/lintstaged.test.ts
  src/components/githooks-manager/lefthook/component.test.ts
  test/components/githooks-manager/lefthook.test.ts
Labels: component, test

chore(pkg-manager): migrate from yarn to bun
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .projen/tasks.json
  .projenrc.ts
  bun.lock
  package-lock.json
  package.json
  src/components/githooks-manager/lefthook/command.ts
  src/typescript/index.ts
  yarn.lock
Labels: githubAction, component

chore: remove stale techstack.yml
  techstack.yml
Labels: none

chore: remove stale techstack.md
  techstack.md
Labels: documentation

feat(agentic-harnesses): add constructs for OpenCode, OpenAI Codex, Gemini CLI, and Mistral Vibe
  src/components/agentic-harnesses/claude-code.test.ts
  src/components/agentic-harnesses/claude-code.ts
  src/components/agentic-harnesses/gemini-cli.test.ts
  src/components/agentic-harnesses/gemini-cli.ts
  src/components/agentic-harnesses/index.ts
  src/components/agentic-harnesses/mistral-vibe.test.ts
  src/components/agentic-harnesses/mistral-vibe.ts
  src/components/agentic-harnesses/openai-codex.test.ts
  src/components/agentic-harnesses/openai-codex.ts
  src/components/agentic-harnesses/opencode.test.ts
  src/components/agentic-harnesses/opencode.ts
Labels: component

feat(agentic-harnesses): add McpServer and McpConfig constructs with per-harness MCP support
  .aislop/baseline.json
  .aislop/session.jsonl
  src/components/agentic-harnesses/claude-code.test.ts
  src/components/agentic-harnesses/claude-code.ts
  src/components/agentic-harnesses/gemini-cli.test.ts
  src/components/agentic-harnesses/gemini-cli.ts
  src/components/agentic-harnesses/index.ts
  src/components/agentic-harnesses/mcp-config.test.ts
  src/components/agentic-harnesses/mcp-config.ts
  src/components/agentic-harnesses/mcp-server.ts
  src/components/agentic-harnesses/mistral-vibe.test.ts
  src/components/agentic-harnesses/mistral-vibe.ts
  src/components/agentic-harnesses/openai-codex.test.ts
  src/components/agentic-harnesses/openai-codex.ts
  src/components/agentic-harnesses/opencode.test.ts
  src/components/agentic-harnesses/opencode.ts
Labels: component

style(agentic-harnesses): apply ESLint array-type fixes from pre-commit hook
  src/components/agentic-harnesses/claude-code.test.ts
  src/components/agentic-harnesses/claude-code.ts
  src/components/agentic-harnesses/gemini-cli.ts
  src/components/agentic-harnesses/mcp-config.ts
  src/components/agentic-harnesses/mcp-server.ts
  src/components/agentic-harnesses/mistral-vibe.ts
  src/components/agentic-harnesses/openai-codex.ts
  src/components/agentic-harnesses/opencode.ts
Labels: component

fix(lefthook): add stage_fix: true to auto-fixing pre-commit commands
  .aislop/session.jsonl
  src/components/code-standards/eslint.ts
  src/components/code-standards/prettier.ts
  src/components/githooks-manager/lefthook/command.ts
Labels: component

style(lefthook): apply dot-notation lint fix from pre-commit hook
  src/components/githooks-manager/lefthook/command.ts
Labels: component

refactor(agentic-harnesses): extract AgentsMd singleton construct
  src/components/agentic-harnesses/agents-md.test.ts
  src/components/agentic-harnesses/agents-md.ts
  src/components/agentic-harnesses/claude-code.ts
  src/components/agentic-harnesses/gemini-cli.ts
  src/components/agentic-harnesses/index.ts
  src/components/agentic-harnesses/mistral-vibe.ts
  src/components/agentic-harnesses/openai-codex.ts
  src/components/agentic-harnesses/opencode.ts
Labels: component

feat(renovate): add Renovate construct with automerge, release age, and rebase config
  src/components/index.ts
  src/components/renovate/index.ts
  src/components/renovate/renovate.test.ts
  src/components/renovate/renovate.ts
Labels: component

style(agentic-harnesses): remove trailing blank lines before closing brace
  src/components/agentic-harnesses/claude-code.ts
  src/components/agentic-harnesses/gemini-cli.ts
  src/components/agentic-harnesses/mistral-vibe.ts
  src/components/agentic-harnesses/openai-codex.ts
  src/components/agentic-harnesses/opencode.ts
Labels: component

feat(lefthook): add typecheck pre-commit command
  src/components/githooks-manager/lefthook/component.test.ts
  src/components/githooks-manager/lefthook/component.ts
Labels: component

chore: regenerate project files
  lefthook.yml
  package.json
Labels: none

feat(renovate): manage renovate.json via Renovate construct
  .gitattributes
  .gitignore
  .projen/files.json
  .projenrc.ts
  renovate.json
Labels: none

fix(lefthook): correct stage_fix to stage_fixed
  lefthook.yml
  src/components/githooks-manager/lefthook/command.ts
  src/components/githooks-manager/lefthook/component.test.ts
Labels: component

fix(jest): resolve all failing tests
  .projen/deps.json
  .projen/tasks.json
  bun.lock
  jest.config.json
  package.json
  src/components/code-standards/eslint.test.ts
  src/components/code-standards/prettier.test.ts
  src/components/jest.ts
  tsconfig.test.json
Labels: component

feat(prettier): add optional sort-imports plugin support
  src/components/code-standards/index.ts
  src/components/code-standards/prettier-sort-imports-options.ts
  src/components/code-standards/prettier.test.ts
  src/components/code-standards/prettier.ts
  src/typescript/githooks-enabled-project.ts
Labels: component

feat(vitest): replace Jest with Vitest as the test runner
  .gitattributes
  .gitignore
  .npmignore
  .projen/deps.json
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  bun.lock
  jest.config.json
  package.json
  src/components/index.ts
  src/components/vitest.test.ts
  src/components/vitest.ts
  src/typescript/githooks-enabled-project.ts
  src/utils/fetch.test.ts
  tsconfig.dev.json
  vitest.config.ts
Labels: component

refactor(testing): move jest and vitest constructs into testing subdomain
  src/components/index.ts
  src/components/testing/index.ts
  src/components/testing/jest.ts
  src/components/testing/vitest.test.ts
  src/components/testing/vitest.ts
  src/typescript/githooks-enabled-project.ts
  vitest.config.ts
Labels: component

refactor(testing): replace relative imports with @thoroc path aliases
  .eslintrc.json
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  bun.lock
  package.json
  src/components/code-standards/commitizen.test.ts
  src/components/code-standards/editorconfig/editorconfig.test.ts
  src/components/code-standards/eslint.test.ts
  src/components/code-standards/eslint.ts
  src/components/code-standards/markdownlint/component.test.ts
  src/components/code-standards/prettier.test.ts
  src/components/documentation/code-of-conduct.test.ts
  src/components/githooks-manager/husky/component.test.ts
  src/components/githooks-manager/husky/hook-file.test.ts
  src/components/githooks-manager/husky/lintstaged.test.ts
  src/components/githooks-manager/lefthook/component.test.ts
  src/components/github-actions/auto-merge.test.ts
  src/components/github-actions/close-stale-issue.test.ts
  src/components/github-actions/pull-request-comment.test.ts
  src/components/github-actions/pull-request-labeler.test.ts
  src/components/renovate/renovate.test.ts
  src/components/testing/vitest.test.ts
  src/components/testing/vitest.ts
  tsconfig.dev.json
  vitest.config.ts
Labels: component
