Repository thoroc/projen-typescript-git-hooks, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, githubAction, component, test

.github/labeler.yml:

# ~~ Generated by projen. To modify, edit .projenrc.ts and run "npx projen".

documentation:
  - "*.md"
githubAction:
  - .github/**
component:
  - src/components/**
test:
  - test/**/*.test.ts

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore: self mutation
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  .github/workflows/build.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: githubAction

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  .gitattributes
  .github/workflows/pull-request-comment.yml
  .gitignore
  .husky/pre-push
  .projen/deps.json
  .projen/files.json
  .projen/tasks.json
  package.json
  yarn.lock
Labels: githubAction

chore(deps): upgrade dependencies
  package.json
  yarn.lock
Labels: none

chore(rebase): rebase from main
  src/components/code-standards/prettier.ts
  src/components/githooks-manager/githooks-manager.ts
  src/components/githooks-manager/husky/husky.ts
  src/components/githooks-manager/lefthook/lefthook.ts
  test/components/code-standards/prettier.test.ts
  test/components/githooks-manager/lefthook.test.ts
Labels: component, test

chore: missing peer deps for project
  .projen/deps.json
  .projenrc.ts
  package.json
Labels: none

chore(deps): upgrade dependencies
  .projen/deps.json
  .projen/tasks.json
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  .eslintrc.json
  CODE_OF_CONDUCT.md
  package.json
  yarn.lock
Labels: documentation

chore(deps): upgrade dependencies
  .gitignore
  .npmignore
  .projen/tasks.json
  package.json
  tsconfig.dev.json
  yarn.lock
Labels: none

Create techstack.yml
  techstack.yml
Labels: none

Create techstack.md
  techstack.md
Labels: documentation

fix: upgrade projen from 0.77.5 to 0.79.22
  package.json
  yarn.lock
Labels: none

chore(deps): upgrade dependencies
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .gitignore
  .npmignore
  .projen/tasks.json
  package.json
  tsconfig.dev.json
  yarn.lock
Labels: githubAction

Update renovate.json
  renovate.json
Labels: none

fix: upgrade projen from 0.80.9 to 0.80.11
  package.json
  yarn.lock
Labels: none

remove dependabot and batching renovate bot updates
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  .github/workflows/upgrade-main.yml
  renovate.json
Labels: githubAction

feat(project): updated npm lock file and ref to yarn
  .projenrc.ts
  package-lock.json
  package.json
  src/components/githooks-manager/husky/husky.ts
  src/components/githooks-manager/lefthook/lefthook.ts
  src/components/github-actions/pull-request-comment.ts
  src/components/jest.ts
  test/components/github-actions/pull-request-comment.test.ts
  yarn.lock
Labels: component, test

fix(project): issue with deps bc
  src/components/code-standards/markdownlint/markdownlint.ts
Labels: component

fix: package.json to reduce vulnerabilities
  package.json
Labels: none

fix: package.json to reduce vulnerabilities
  package.json
Labels: none

fix: package.json to reduce vulnerabilities
  package.json
Labels: none

fix(standards): address all coding-standards gaps on feat/agentic
  jest.config.json
  src/components/code-standards/editorconfig/editorconfig.test.ts
  src/components/code-standards/editorconfig/editorconfig.ts
  src/components/code-standards/editorconfig/index.ts
  src/components/code-standards/markdownlint/component.test.ts
  src/components/code-standards/markdownlint/component.ts
  src/components/code-standards/markdownlint/index.ts
  src/components/code-standards/markdownlint/rules-config.ts
  src/components/code-standards/markdownlint/rules/index.ts
  src/components/githooks-manager/action.ts
  src/components/githooks-manager/husky/component.ts
  src/components/githooks-manager/husky/hook-file.ts
  src/components/githooks-manager/husky/index.ts
  src/components/githooks-manager/husky/lintstaged.ts
  src/components/githooks-manager/index.ts
  src/components/githooks-manager/lefthook/component.ts
  src/components/githooks-manager/lefthook/index.ts
  src/components/githooks-manager/manager.ts
  src/components/jest.ts
  src/index.ts
  src/typescript/githooks-enabled-project.ts
  src/utils/inclusive-pick.test.ts
  src/utils/inclusive-pick.ts
  src/utils/index.ts
  src/utils/omit.test.ts
  src/utils/omit.ts
  src/utils/pick.test.ts
  src/utils/pick.ts
  test/components/githooks-manager/husky/huskyhook.test.ts
Labels: component, test

test(coverage): raise test coverage from 87% to 96%
  src/components/agentic-harnesses/claude-code.test.ts
  src/components/code-standards/commitizen.test.ts
  src/components/code-standards/commitizen.ts
  src/components/code-standards/editorconfig/section.test.ts
  src/components/code-standards/markdownlint/component.test.ts
  src/components/code-standards/markdownlint/rules/rule.test.ts
  src/components/githooks-manager/lefthook/component.test.ts
  src/components/github-templates/issue-template.test.ts
  src/utils/fetch.test.ts
  src/utils/serializer.test.ts
Labels: component

feat(dev-tooling): migrate from husky to lefthook
  .gitattributes
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .projen/deps.json
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  lefthook.yml
  package.json
  src/components/code-standards/commitizen.test.ts
  src/components/code-standards/commitizen.ts
  src/components/code-standards/eslint.test.ts
  src/components/code-standards/eslint.ts
  test/components/githooks-manager/lefthook.test.ts
  yarn.lock
Labels: component, test

fix(lefthook): serialize commands as a YAML mapping, not a sequence
  lefthook.yml
  src/components/code-standards/eslint.test.ts
  src/components/code-standards/prettier.test.ts
  src/components/githooks-manager/lefthook/config.ts
  test/components/githooks-manager/lefthook.test.ts
Labels: component, test

feat(lefthook): add blank lines between hook sections in lefthook.yml
  lefthook.yml
  src/components/githooks-manager/lefthook/component.ts
  src/components/githooks-manager/lefthook/file.ts
  src/components/githooks-manager/lefthook/index.ts
Labels: component

chore: apply linter and baseline formatting
  .aislop/baseline.json
  src/components/githooks-manager/lefthook/file.ts
Labels: component

fix(prettier): exclude projen-managed markdown files from prettier hook
  .prettierignore
  .projenrc.ts
  CODE_OF_CONDUCT.md
Labels: documentation

refactor(code-of-conduct): self-register CODE_OF_CONDUCT.md with Prettier ignore
  .prettierignore
  .projenrc.ts
  src/components/documentation/code-of-conduct.test.ts
  src/components/documentation/code-of-conduct.ts
Labels: component
